body {
    background-color: #131322;
    color: #BBD9D0;
}

header {
    margin: 1em auto;
    text-align: center;
    font-size: 40px;
    font-family: 'New Rocker', Georgia, serif;
}

h2 {
    font-family: Verdana, Tahoma, sans-serif;
}

button {
    background-color: #9EB2D6;
    margin: 6px;
    border-radius: 5px;
}

button:hover {
    border: 2px solid #54549E;
    transform: scale(1.05);
}

.disabled {
    pointer-events: none;
}

.winner {
    border: 2px solid green;
    transform: scale(1.2);
}

.looser {
    border: 2px solid red;
    transform: scale(1.2);
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    max-width: 800px;
    padding: 25px;
    margin: auto;
    background-color: #a1bdb4;
    color: #131322;
    font-size: large;
    border-radius: 10px;
}

.player-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    border: 2px solid #54549E;
    border-radius: 10px;
}

.computer-box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 270px;
    border: 2px solid #54549E;
    border-radius: 10px;
}

.computer-icon {
    text-align: center;
}

.player-icon {
    text-align: center;
}

.select-buttons {
    display: flex;
    flex-direction: column;
}

.icon {
    height: 50px;
    width:  auto;
    display: block;
}

.mirror {
    transform: rotateX(180deg);
    transform: rotateY(180deg);
}

test {
    color: #BBD9D0;
    color: #4F6961;
    color: #465F8D;
    color: #54549E;
    color: #131322;
}
